#{extends 'main.html' /}
#{set title:'Home' /}

<h2>Aqui se buscan los usuarios</h2>
<div class="contenedor">
    <select name="selectUsuarios" class="selectUsuario" id="select1" >
        #{list items:usuarios, as:"usuarioB"}
            #{mostrarUsuario tagUs:usuarioB, as:"usuario" /}
        #{/list}
    </select>
    <p>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre"/>
    </p>
    <p>
        <label for="fecha">Fecha</label>
        <input type="text" name="fecha" id="fecha"/>
    </p>
    <p>
        <label for="decimales">Decimales</label>
        <input type="text" name="decimales" id="decimales"/>
    </p>


</div>